/* line 17, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/index.scss */
body {
  color: #fff;
  font: 11px Arial, Tahoma, sans-serif;
}

/* line 17, ../sass/index.scss */
a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}
/* line 21, ../sass/index.scss */
a:hover {
  color: #fff;
}

/* line 26, ../sass/index.scss */
header {
  position: absolute;
  z-index: 10;
  width: 1100px;
}

/* line 32, ../sass/index.scss */
#site {
  width: 1100px;
  margin: 0 auto;
}

/*splash*/
/* line 38, ../sass/index.scss */
#splash {
  clear: both;
  /*background:url(../img/back1.jpg);*/
  height: 575px;
  width: 1100px;
}

/* line 45, ../sass/index.scss */
#splash .slides_container {
  width: 1100px;
  height: 575px;
  display: none;
}
/* line 49, ../sass/index.scss */
#splash .slides_container div {
  height: 575px;
  width: 1100px;
  display: block;
}
/* line 54, ../sass/index.scss */
#splash .slides_container aside {
  margin-top: 108px;
  margin-left: 587px;
  width: 453px;
  text-shadow: 0 0 1px black;
}
/* line 60, ../sass/index.scss */
#splash .slides_container h2 {
  font-size: 30px;
  line-height: 40px;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* line 67, ../sass/index.scss */
#splash .slides_container a {
  color: #fff;
}
/* line 69, ../sass/index.scss */
#splash .slides_container a:hover {
  text-decoration: underline;
}

/* line 77, ../sass/index.scss */
#splash .slide1 {
  background: url(../img/back1.jpg);
}

/* line 78, ../sass/index.scss */
#splash .slide2 {
  background: url(../img/back2.jpg);
}

/* line 79, ../sass/index.scss */
#splash .slide3 {
  background: url(../img/back3.jpg);
}

/* line 80, ../sass/index.scss */
#splash .slide4 {
  background: url(../img/back4.jpg);
}

/* line 81, ../sass/index.scss */
#splash .slide5 {
  background: url(../img/back5.jpg);
}

/* line 83, ../sass/index.scss */
#splash .pagination {
  margin-top: -165px;
  position: relative;
  z-index: 10;
  margin-left: 50px;
}
/* line 88, ../sass/index.scss */
#splash .pagination li {
  float: left;
  height: 118px;
  width: 196px;
  background: url(../img/items.png);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 14px;
  margin: 0 1px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 98, ../sass/index.scss */
#splash .pagination li.current {
  background: url(../img/items_current.png);
}
/* line 101, ../sass/index.scss */
#splash .pagination li a {
  padding: 15px 19px;
  display: block;
}
/* line 107, ../sass/index.scss */
#splash .pagination img {
  width: 158px;
  height: 62px;
}

/* line 113, ../sass/index.scss */
hr {
  background: #efefef;
}

/* line 117, ../sass/index.scss */
.top_line {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  background: #fff;
  height: 72px;
  width: 1100px;
  position: absolute;
  z-index: 6;
}

/* line 127, ../sass/index.scss */
.border_panel {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  border-top: 0;
  height: 30px;
  width: 410px;
  float: right;
  z-index: 7;
  position: relative;
  right: 50px;
}

/* line 138, ../sass/index.scss */
.top_panel {
  background: url(../img/top_panel.png) bottom left repeat-x;
  list-style: none;
  padding: 5px 0;
  margin: 0;
  height: 20px;
}
/* line 145, ../sass/index.scss */
.top_panel li {
  margin: 0;
  padding: 0 9px;
  float: left;
  font-size: 11px;
  line-height: 20px;
  text-shadow: 2px 2px 1px black;
  background: url(../img/top_panel_line.gif) right center repeat-y;
}
/* line 154, ../sass/index.scss */
.top_panel img {
  vertical-align: middle;
}

/* line 159, ../sass/index.scss */
li.search {
  background: none;
}
/* line 161, ../sass/index.scss */
li.search .input_text {
  height: 17px;
  border: 1px solid #000;
  font: 11px Arial, Tahoma, sans-serif;
  vertical-align: middle;
  width: 132px;
  -webkit-box-shadow: inset 0 0 3px 0 black;
  -moz-box-shadow: inset 0 0 3px 0 black;
  box-shadow: inset 0 0 3px 0 black;
}
/* line 169, ../sass/index.scss */
li.search .input_submit {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: url(../img/search_button.png) center center repeat-x;
  height: 17px;
  color: #fff;
  vertical-align: middle;
  font: 11px Arial, Tahoma, sans-serif;
}

/* line 179, ../sass/index.scss */
.main_menu {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  z-index: 7;
  float: left;
  margin-left: 50px;
  margin-top: 6px;
}
/* line 188, ../sass/index.scss */
.main_menu img {
  vertical-align: middle;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 193, ../sass/index.scss */
.main_menu ul {
  border: 1px solid #181248;
  border-top: 0;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  text-shadow: 2px 2px 0px black;
  background: #1b1459;
  font-size: 14px;
  padding: 20px;
}
/* line 204, ../sass/index.scss */
.main_menu li {
  background: url(../img/menu.gif) bottom left repeat-x;
  line-height: 30px;
  padding-left: 5px;
}

/* line 211, ../sass/index.scss */
footer {
  background: #2f2f2f;
  padding: 25px 80px;
}
/* line 215, ../sass/index.scss */
footer .footer_right {
  float: right;
  color: #666;
}
/* line 218, ../sass/index.scss */
footer .footer_right a {
  color: #666;
  text-decoration: underline;
}
/* line 224, ../sass/index.scss */
footer .footer_left {
  color: #999;
  line-height: 16px;
}
/* line 227, ../sass/index.scss */
footer .footer_left .footer_menu {
  font-weight: bold;
  line-height: normal;
  color: #fff;
}
/* line 231, ../sass/index.scss */
footer .footer_left .footer_menu a {
  color: #fff;
}
/* line 233, ../sass/index.scss */
footer .footer_left .footer_menu a:hover {
  text-decoration: underline;
}
